---
# tasks file for ansible-role-sshd-host-keys
#

- name: get_url the known_hosts file to /etc/ssh/ssh_known_hosts
  get_url: url={{ known_hosts_url }}
           dest=/etc/ssh/ssh_known_hosts 
           owner=root group=root mode=0644 
           backup=no force=yes

- name: lineinfile - Remove GlobalKnownHostsFile in /etc/ssh/ssh_config - we use the default
  lineinfile: dest=/etc/ssh/ssh_config 
              regexp='^GlobalKnownHostsFile' 
              state=absent
